<article class="container project">
    <div class="cont-header">
        <h1>Motion Graphics</h1>
        <a class="back-link" routerLink="/portfolio">
            <svg class="svg-icon" width="25" height="25">
                <use [attr.href]="'/assets/images/symbol-defs.svg#icon-arrow-left'"></use>
            </svg>
            Back
        </a>
    </div>
    <p class="section-context">The proceeding works were created as part of the Motion Graphics course at UA Little Rock, taught by Dusty Higgins.</p>
    <section>
        <h2>
            The Best Chocolate Chip Cookies
        </h2>
        <p>
            This project was by far my favorite of the class. The brief was open ended giving us the opportunity to animate whatever we wanted. We were given a longer time frame - maximum 3 minutes, minimum 1 minute - and got the opportunity to do our own voice over. I had a great time building out all the assets for this project and I feel like I was able to make some strong transitions utilizing text animations as well as object animations. 
        </p>
        <div class="motion-vid">
            <iframe src="https://player.vimeo.com/video/453856156?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" title="Best Chocolate Chip Cookies"></iframe>
        </div>
    </section>
    <section>
        <h2>Wave</h2>
        <p>
            For this project, we were instructed to create a wave animation with the colors and composition of our choice. I chose to animate a day and night cycle with a large calming wave. We had to animate this with a time limit of 15 seconds, and I am happy with the result.
        </p>
        <p>
            This specific project taught me a lot about how to animate several components together to form one smooth motion. It was surprisingly difficult to get the timing right and avoid elements looking disjointed. I also learned how to loop repeating animations.
        </p>
        <div class="motion-vid">
            <iframe src="https://player.vimeo.com/video/453856047?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" title="Wave"></iframe>
        </div>
    </section>
    <section>
        <h2>Horse Puppet Animation</h2>
        <p>
            For this project, the Illustrator assets of each part of a horse were provided. The task was to animate these assets over a real-life horse video and mimic its movement as naturally as possible. This project taught me about the puppet tools in Adobe After Effects, and I think I was pretty successful in capturing the horse's movements.
        </p>
        <div class="motion-vid">
            <iframe src="https://player.vimeo.com/video/453855970?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" title="Horse Animation"></iframe>
        </div>
    </section>
    <section>
        <h2>Four Elements</h2>
        <p>
            The brief for this project was to animate the four elements, Earth, Fire, Air, and Water in an abstract way with sounds of our choice. We were only allowed 5 seconds for each element for a total of 20 seconds of video, so I had to create interesting compositions that could be absorbed in the short time frame.
        </p>
        <p>
            This was towards the beginning of my learning about After Effects, so I do not think it was as successful as the rest of these works. If I were to do this project over, I would definitely spend more time syncing the wind chime noises as well as adding more dynamic animations to the water as it pours (for example a ripple effect as the stream hits what is already poured). My favorite portion of this was working on Fire, as I think it was the most successful in mimicking the sparks of a flame.
        </p>
        <div class="motion-vid">
            <iframe src="https://player.vimeo.com/video/453855664?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" height="350" width="650" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" title="Four Elements Animation Project">
            </iframe>
        </div>
    </section>
</article>
