<article class="container">
    <div class="cont-header">
        <h2>Motion Graphics</h2>
        <a class="back-link" routerLink="/portfolio">
            <svg class="svg-icon" width="25" height="25">
                <use [attr.href]="'#icon-arrow-left'"></use>
            </svg>
            Back
        </a>
    </div>
    <section>
        <h3>Four Elements</h3>
        <p>
            In this project we were instructed to animate the four elements, Earth, Fire, Air, and Water in an abstract way with sounds of our choice. We were only allowed 5 seconds for each element for a total of 20 seconds of video, so I had to create interesting compostions that could be absorbed in the short time frame.  
        </p>
        <p>
            This was towards the beginning of my learning about After Effects, so I do not think it was as successful as the rest of these works. If I were to do this project over, I would definitely spend more time syncing the wind chime noises as well as adding more dynamic animations to the water as it pours (for example a ripple effect as the stream hits what is already poured). My favorite portion of this was working on Fire, as I think it was the most successful in mimicking the sparks of a flame. 
        </p>
    </section>
    <section>
        <h3>Horse Puppet Animation</h3>
        <p>
            In this project, we were given Illustrator assets of each part of a horse. Our task was to animate this against a real-life horse video (which was also given to us), and mimick its movement as naturally as possible. This project really taught me a lot about the puppet tools in Adobe After Effects, and I think I was pretty successfull in capturing the horse's movements.
        </p>
    </section>
    <section>
        <h3>Wave</h3>
        <p>
            For this project, we were instructed to create a wave animation with the colors and composition of our choice. I chose to animate a day and night cycle with a large calming wave. We were given a time limit of 15 seconds to complete this, and I am happy with the result!
        </p>
        <p>
            This specific project taught me a lot about how to construct waves and how to get the timing right so that it doesn't appear disjuncted in its movement. I also learned a ton about how to loop repeating animations.
        </p>
    </section>
    <section>
        <h3>
            The Best Chocolate Chip Cookies
        </h3>
        <p>
            This project was by far my favorite. We were given a much longer time frame (maximum 3 minutes, minimum 1 minute), and got the opportunity to do our own voice over. I had a great time building out all the assets for this project, and I feel like I was able to make some strong transitions utilizing text animations as well as object animations.
        </p>
    </section>
</article>
