@use "../shared/recipes.scss";

.projects {
    @include recipes.flex-column;
    .project-links {
        @include recipes.flex-row;
        @include recipes.flex-center;
        flex-wrap: wrap;
        max-width: 430px;
        gap: 15px 20px;
        justify-self: center;
        align-self: center;
        padding-bottom: 20px;

        a {
            @include recipes.flex-column;
            @include recipes.flex-center;
            position: relative;
            height: 110px;
            width: 200px;
            border: none;
            border-radius: recipes.$radiusSm;
            background-color: recipes.$project-btn;
            color: recipes.$project-btn-text;
            font-size: 18px;
            font-weight: 600;
            overflow:hidden;

            span {
                z-index: 2;
            }

            &:before, &:after {
                content: '';
                position:absolute;
                height: 130px;
                top: -11px;
                transform: rotate(10deg);
                background-color: recipes.$project-btn-effect;
            }

            &:before {
                width: 30px;
                left: -40px;
                transform: left 4s;
            }

            &:after {
                width: 5px;
                left: -50px;
            }
        
            &:hover, &:focus { /* gold shine animation effect */
                background-color: recipes.$project-btn;
                border: solid 3px darken(recipes.$project-btn, 30%);
                &:before {
                    transition: left 1s;
                    left: 270px;
                }
                &:after {
                    transition: left 1s;
                    left: 240px;
                }
            }
        }
    }
}

@media screen and (min-width: 1110px) {
    .projects {
        .project-links {
            margin-top: 20px;
            max-width: 100%;
        }
    }
}



