<div class="container">
    <h2>Portfolio</h2>
    <article class="website">
        <h3>This Website</h3>
        <p>
            I created this website from the ground up using Angular v18, Node.js, TypeScript, and SCSS. Visit my GitHub to see the source code, developed entirely with Microsoft Visual Studio Code. I utilized mobile-first design and coding practices when creating styles to more efficiently allow this site to be used on phones with screens as small as 320 pixels wide. 
        </p>
    </article>
    <article class="projects">
        <h3>Projects</h3>
        <div class="project-links">
            <a *ngFor="let link of subPageLinks" routerLink="/{{link.url}}">
                <span>
                    {{ link.name }}
                </span>
                
            </a>
        </div>
        
    </article>
    

</div>
