<div class="container">
    <h2>Portfolio</h2>
    <article class="website">
        <h3>This Website</h3>
        <p>
            I created this website from the ground up using Angular v18, Node.js, TypeScript and SCSS, all developed in Microsoft Visual Studio Code. I utilized a mobile-first design method when creating styles, enabling this site to be used on phones with screens as small as 320 pixels wide. 
        </p>
    </article>
    <article class="projects">
        <h3>Projects</h3>
        <div class="project-links">
            <button *ngFor="let link of subPageLinks" routeLink="/link.url">
                {{ link.name }}
            </button>
        </div>
        
    </article>
    

</div>
