@use "../../styles.scss";

// .container {
//     @include styles.flex-column;
//     gap: 20px;
// }

.projects {
    @include styles.flex-column;

    .project-links {
        @include styles.flex-row;
        @include styles.flex-center;
        gap: 15px 20px;
        max-width: 430px;
        justify-self: center;
        align-self: center;
        padding-bottom: 20px;

        a {
            @include styles.flex-column;
            @include styles.flex-center;
            position: relative;
            height: 110px;
            width: 200px;
            border: none;
            border-radius: styles.$radiusSm;
            background-color: styles.$grass-green;
            font-size: 18px;
            overflow:hidden;

            span {
                z-index: 2;
            }

            &:before, &:after {
                content: '';
                position:absolute;
                height: 130px;
                top: -11px;
                transform: rotate(10deg);
                background-color: styles.$light-green;
            }

            &:before {
                width: 30px;
                left: -40px;
                transform: left 4s;
            }

            &:after {
                width: 5px;
                left: -50px;
            }
        
            &:hover, &:focus { /* gold shine animation effect */
                background-color: styles.$grass-green;
                &:before {
                    transition: left 1s;
                    left: 270px;
                }
                &:after {
                    transition: left 1s;
                    left: 240px;
                }
            }
        }
    }
}



