@use "../../styles.scss";

header {


    @include styles.flex-column;
    @include styles.flex-end-center;
    padding: 20px 20px 15px 20px;
    gap: 10px;
    height: styles.$headerHeight;
    background-color: styles.$header-background;
    font-family: styles.$nunito;
    color: styles.$text;

    .nav-group {
        @include styles.flex-column;
        @include styles.flex-center;
        gap: 15px;
    }

    .nav-name {
        margin: 0;
        font-family: styles.$dmserif;
        font-size: 35px;
    }

    .nav-group nav ul{
        display: flex;
        flex-flow: row;
        list-style: none;
        gap: 15px;

        a {
            cursor: pointer;
            font-size: 18px;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: styles.$headerHeight;
        z-index: -3;
        border-top: 250px solid styles.$header-background;
        border-right: 100vw solid transparent;
    }
}

@media screen and (min-width: 800px) {
    header {
        height: styles.$headerAfterHeight;

        .nav-group {
            flex-flow: row-reverse;
            justify-content: space-between;
            align-items: center;

            width: 85%;
            max-width: calc(styles.$containerWidth - 25px);
        }

        &:after {
            top: styles.$headerAfterHeight;
        }
    }
}