/* You can add global styles to this file, and also import other style files */

//Fonts
$nunito: "Nunito", sans-serif;
$dmserif: "DM Serif Display", serif;

//Common Style
$radiusSm: 5px;
$radiusMd: 15px;
$radiusLg: 45px;
$headerHeight: 125px;
$headerAfterHeight: calc($headerHeight * .8);
$footerHeight: 85px;
$mainMarginBottom: 125px;
$containerWidth: 1050px;

//Common Colors
$white: #fff;
$black: #000;
$light-orange: #DDA15E;
$dark-orange: #BC6C25;
$lightest-green: #DBE0CC;
$light-green: #606C38;
$dark-green: #283618;
$cream: #F4F1DE;
$yellow: #EAD79F;
$lemon: #F2CC8F;
$dark-lemon: #e0ae5c;
$light-blue: #d4ebe9;
$dark-blue: #181F36;

//daylight colors
$header-bg: $dark-orange;
$header-text: $white;

$block-link: $dark-orange;
$block-link-hover: $light-orange;

$main-bg: $cream;

$footer-bg: $dark-green;
$footer-text: $white;

$container-bg: $white;
$container-text: $black;
$container-border: $light-green;

$heading-highlight: $light-green;
$heading-hightlight-text: $white;

$button-bg: $lemon;
$button-text: $black;
$button-hover: $dark-lemon;
$button-border: $dark-lemon;

$project-btn: $dark-lemon;
$project-btn-effect: $yellow;
$project-btn-text: $black;

$card-bg: $light-blue;
$card-text: $black;
$card-border: $dark-blue;

$content-callout: $light-blue;

$contact-accent: $light-green;
$accent-border: $dark-green;

$inline-link: $light-orange;
$inline-link-vis: $dark-orange;


//Mixins

@mixin flex-row {
    display: flex;
    flex-flow: row;
}

@mixin flex-column {
    display: flex;
    flex-flow: column;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin flex-end-center {
    justify-content: flex-end;
    align-items: center;
}

//Mixins End

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    display: block;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    font-family: $nunito;
}

body {
    @include flex-column;
    background-color: $main-bg;
}

.rm-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
}

main.main {
    min-height: calc(100vh - ($headerHeight + $footerHeight));
}

h1, h2 {
    font-family: $dmserif;
}

p, a, button {
    font-family: $nunito;
}

article {
    h2 {
        margin-bottom: 20px;
    }
}

a, button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;

    &:focus:not(.inline-link):not(.back-link) {
        outline: none;
    }
}

.svg-icon {
    fill: none;
    stroke: $accent-border;
}

.italic {
    font-style: italic;
}

.inline-link {
    border-bottom: 3px solid $inline-link;
    position: relative;
    padding: 2px 4px 0 4px;
    z-index: 1;

    // &:after, &:visited:after {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     width: calc(100%);
    //     bottom: 0;
    //     left:0;
    //     background-color: $inline-link;
    //     height: 0px;
    //     z-index: -1;
    // }

    &:visited {
        border-color: $inline-link-vis;

        &:hover:after, &:focus:after {
            background-color: $inline-link-vis
        }
    }

    // &:hover:after, &:focus:after {
    //     content: '';
    //     height: 100%;
    //     transition: height ease-in-out .2s;
    // }
}

.block-link {
    border-bottom: 3px solid $block-link;

    &:hover, &:focus, &.is-active {
        border-color: $block-link-hover;
    }
}

.content-callout {
    display: block;
    height: fit-content;
    background-color: $content-callout;
    border-radius: $radiusMd;
    padding: 10px;
}

//generic container styling

.container {
    @include flex-column;
    gap: 20px;
    padding: 40px 40px;
    width: 85%;
    max-width: $containerWidth;
    margin: 30px auto $mainMarginBottom auto;
    background-color: $container-bg;
    color: $container-text;
    border: solid 3px $container-border;
    border-radius: $radiusLg;
    min-height: max-content;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
        font-style: italic;
        display: block;
        position: relative;
        width: fit-content;
        z-index: 2;
        color: $heading-hightlight-text;
    
        &:before {
            content: '';
            background-color: $heading-highlight;
            position: absolute;
            width: calc(100% + 66px);
            height: calc(100% + 8px);
            right: -10px;
            top: -3px; 
            z-index: -1;
            border-radius: 5px 10px 10px 5px;
        }
    }

    .section-context {
        margin-bottom: 0px;
        font-style: italic;
    }

    
}

.project { //generic styles for portfolio project pages

    .cont-header {
        @include flex-column;
        flex-flow: column-reverse;
        justify-content: space-between;
        align-items: flex-start;

        .back-link {
            @include flex-row;
            @include flex-center;
            gap: 5px;
            font-size: 18px;
        }
    }

    section {
        .figure-group {
            @include flex-column;
            gap: 20px;
            padding: 25px;
            background-color: $content-callout;
            border-radius: $radiusSm;

            figcaption {
                font-weight: 600;
            }

            ul {
                padding-left: 15px;
            }
            
        }

        q {
            display:block;
            margin-bottom: 15px;
            padding: 20px;
        }

        ol {
            padding: 15px 25px 30px 40px;
        }
    }

    section:not(:last-child) {
        margin-bottom: 10px;
        padding-bottom: 25px;
        border-bottom: 5px solid $accent-border;
        border-bottom-style: double;
    }

    p {
        margin-bottom: 10px;

        &:last-of-type:not(:first-of-type) {
            margin-bottom: 20px;
        }
    }

    .img-by-side { //for two picture layout
        @include flex-column;
        gap: 10px;
    }

    
}

//generic container styling

@media screen and (min-width: 800px) {    
    .container {
        .cont-header {
            flex-flow: row;
            align-items: center;
        }

        .img-by-side { //two picture layout on desktop
            @include flex-row;
            align-items: center;
            width: 60%;
            margin: 0 auto;
        }
    }    
}