@use "app/shared/recipes.scss";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    display: block;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    font-family: recipes.$nunito;
}

body {
    @include recipes.flex-column;
    background-color: recipes.$main-bg;
}

.rm-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
}

main.main {
    min-height: calc(100vh - (recipes.$headerHeight + recipes.$footerHeight));
}

h1, h2 {
    font-family: recipes.$dmserif;
}

p, a, button {
    font-family: recipes.$nunito;
}

article {
    h2 {
        margin-bottom: 20px;
    }
}

a, button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;

    &:focus:not(.inline-link):not(.back-link) {
        outline: none;
    }
}

.svg-icon {
    fill: none;
    stroke: recipes.$accent-border;
}

.italic {
    font-style: italic;
}



.inline-link {
    border-bottom: 3px solid darken(recipes.$inline-link, 45%);
    position: relative;
    padding: 3px 3px 0 3px;
    z-index: 1;
    white-space: nowrap;

    &.link-color-sec {
        border-bottom: 3px solid darken(recipes.$inline-link-sec, 25%);
    }
    
    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0px;
        width: 100%;
        z-index: -1;
        transition: height .2s ease-in-out;
    }

    &:focus {
        outline: none;
    }

    &:hover:after, &:focus:after {
        height: 23px;
        background-color: darken(recipes.$inline-link, 10%);
        transition: height .2s ease-in-out;
    }

    &.link-color-sec:hover:after, &.link-color-sec:focus:after {
        background-color: recipes.$inline-link-sec;
    }
}

.block-link {
    border-bottom: 3px solid recipes.$block-link;

    &:hover, &:focus,
    &.is-active:hover, &.is-active:focus {
        border-color: recipes.$block-link-hover;
    }

    &.is-active{
        border-color: recipes.$block-link-active;
    }
}

.content-callout {
    display: block;
    height: fit-content;
    background-color: recipes.$content-callout;
    border-radius: recipes.$radiusMd;
    padding: 10px;
}

//generic container styling

.container {
    @include recipes.flex-column;
    gap: 20px;
    padding: 40px 40px;
    width: 85%;
    max-width: recipes.$containerWidth;
    margin: 30px auto recipes.$mainMarginBottom auto;
    background-color: recipes.$container-bg;
    color: recipes.$container-text;
    border: solid 3px recipes.$container-border;
    border-radius: recipes.$radiusLg;
    min-height: max-content;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
        font-style: italic;
        display: block;
        position: relative;
        width: fit-content;
        z-index: 2;
        color: recipes.$heading-hightlight-text;
        letter-spacing: .7px;
    
        &:before {
            content: '';
            background-color: recipes.$heading-highlight;
            position: absolute;
            width: calc(100% + 66px);
            height: calc(100% + 8px);
            right: -10px;
            top: -3px; 
            z-index: -1;
            border-radius: 5px 10px 10px 5px;
        }
    }

    .section-context {
        margin-bottom: 0px;
        font-style: italic;
    }

    
}

.project { //generic styles for portfolio project pages

    .cont-header {
        @include recipes.flex-column;
        flex-flow: column-reverse;
        justify-content: space-between;
        align-items: flex-start;

        .back-link {
            @include recipes.flex-row;
            @include recipes.flex-center;
            gap: 5px;
            font-size: 18px;
        }
    }

    section {
        .figure-group {
            @include recipes.flex-column;
            gap: 20px;
            padding: 25px;
            background-color: recipes.$content-callout;
            border-radius: recipes.$radiusSm;

            figcaption {
                font-weight: 600;
            }

            ul {
                padding-left: 15px;
            }
            
        }

        q {
            display:block;
            margin-bottom: 15px;
            padding: 20px;
        }

        ol {
            padding: 15px 25px 30px 40px;
        }
    }

    section:not(:last-child) {
        margin-bottom: 10px;
        padding-bottom: 25px;
        border-bottom: 5px solid recipes.$accent-border;
        border-bottom-style: double;
    }

    p {
        margin-bottom: 10px;

        &:last-of-type:not(:first-of-type) {
            margin-bottom: 20px;
        }
    }

    .img-by-side { //for two picture layout
        @include recipes.flex-column;
        gap: 10px;
    }

    
}

//generic container styling

@media screen and (min-width: 800px) {    
    .container {
        .cont-header {
            flex-flow: row;
            align-items: center;
        }

        .img-by-side { //two picture layout on desktop
            @include recipes.flex-row;
            align-items: center;
            width: 60%;
            margin: 0 auto;
        }
    }    
}