/* You can add global styles to this file, and also import other style files */

//Fonts
$nunito: "Nunito", sans-serif;
$dmserif: "DM Serif Display", serif;

//Common Style
$radiusSm: 5px;
$radiusMd: 15px;
$headerHeight: 120px;
$footerHeight: 65px;

//Common Colors
$white: #fff;
$black: #000;

//Daylight Colors
$pumpkin: #e08152; //#e07A5F;
$orange-crayon: #E57A44;
$cream: #F4F1DE;
$midnight: #283845;
$tiffany-blue: #9AD2CB;
$grass-green: #81B29A;
$light-green: #D7EBBA;
$lemon: #F2CC8F;
$dark-lemon: #e0ae5c;
$eggplant: #472836;
$text: $black;

//Mixins

@mixin flex-row {
    display: flex;
    flex-flow: wrap;
}

@mixin flex-column {
    display: flex;
    flex-flow: column;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

//Mixins End

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: $cream;

}

main.main {
    height: calc(100vh - ($headerHeight + $footerHeight));
}

a, button {
    text-decoration: none;
    color: $text;
    cursor: pointer;
}

.container {
    padding: 15px 20px;
    width: 75%;
    max-width: 900px;
    margin: 60px auto 20px auto;
    background: url(./app/images/textBgd.svg) no-repeat;
    background-size: auto;
    //background-color: $white;
    color: $text;
    border-radius: $radiusMd;
    height: calc(100vh - ($headerHeight + $footerHeight));
}

