<article class="container">
    <h1>Resume</h1>
    <div class="skills-edu">
        <section class="skills">
            <h2>Skills</h2>
            <div class="card">
                <ul>
                    <li>Angular</li>
                    <li>TypeScript and JavaScript</li>
                    <li>HTML and CSS/SCSS</li>
                    <li>Figma and Adobe XD</li>
                    <li>Github and Azure</li>
                </ul>
            </div>
        </section>
        <section class="education">
            <h2>Education</h2>
            <div class="card">
                <h4 class="title">B.A Web Design and Development</h4>
                <h5 role="doc-subtitle">Minor in IT | Minor in Digital Graphics</h5>
                <div>
                    <p>University of Arkansas at Little Rock</p>
                    <p>Graduated: May 2020</p>
                    <p>GPA: 3.80</p>
                </div>
            </div>
        </section>
    </div>
    <section class="experience">
        <h2>Experience</h2>
        <div class="card-set">
            <div class="card" *ngFor="let job of resumeData;">
                <h4 class="title">{{ job.role }}</h4>
                <h5 role="doc-subtitle" class="subtitle">
                    {{ job.company }} 
                    <span>{{ job.time }}</span>
                </h5>
                <ul>
                    <li *ngFor="let duty of job['duties']">
                        {{duty}}
                    </li>
                </ul>
            </div>
        </div>
        
    </section>
</article>