<article class="container">
    <h1>Contact Me!</h1>
    <form class="contact-form">
        <label for="contactName">
            Name
            <input id="contactName" name="name" type="text" placeholder="Jane Doe" required />
        </label>
        <label for="contactEmail">
            Email
            <input id="contactEmail" name="email" type="text" placeholder="jane.doe@email.com" required/>
        </label>
        <label for="contactSubject">
            Subject
            <input id="contactSubject" name="subject" type="text" placeholder="Subject" required/>
        </label>
        <label for="contactMessage">
            Message
            <textarea id="contactMessage" placeholder="Message" required></textarea>
        </label>
        <button class="button" type="submit">Submit</button>
    </form>
</article>
