@use "../shared/recipes.scss";

.contact-form, label {
    @include recipes.flex-column;
}

.contact-form {
    width: 100%;
    max-width: 597px;
    gap: 10px;
    align-self: center;


    label {
        font-size: 18px;

        input, textarea {
            font-family: recipes.$nunito;
            border: 2px solid recipes.$contact-accent;
            border-radius: 5px;
            padding:5px;
            font-size: 16px;
        }

        textarea {
            height: 170px;
            resize: none;
        }
    }

    .button {
        width: fit-content;
        padding: 8px 22px;
        border-radius: 5px;
        background-color: recipes.$button-bg;
        color: recipes.$button-text;
        border: 3px solid recipes.$dark-lemon;
        font-size: 16px;
        font-weight: 600;
        align-self: flex-end;

        &:hover, &:focus {
            background-color: recipes.$button-hover;

        }
    }
    
}