<div class="container">
    <div class="img-social">
        <img/>
        <div class="social-links">
            <a href="{{link.url}}" target="_blank" *ngFor="let link of socialLinks">{{ link.name }}</a>
        </div>
    </div>
    <h2>Hello!</h2>
    <p>
        My name is Cheyenne Shelton and I am a Front End Web Developer based in Little Rock, Arkansas seeking a full time professional role. I am passionate about web accessbility, providing mobile friendly sites (fill later)
    </p>
</div>
