@use "../../styles.scss";

.home-flex, .img-social {
    @include styles.flex-column;
    gap: 15px;
}


.img-social {
    align-items: center;

    img {
        width: 100%;
        max-width: 250px;
        border-radius: 10px;
    }

    .social-links {
        font-size: 0;
        @include styles.flex-row;
        gap: 5px;
        margin-top: -55px;
        background-color: styles.$heading-highlight;
        padding: 15px 20px;
        border-radius: 20px;

        // &:after {
        //     content: '';
        //     position: absolute;
        //     background-color: styles.$lemon;
        //     width: 250px;
        //     padding: 20px;
        //     right: -30px;
        //     top: -7px;
        //     height: 20px;
        //     z-index: -1;
        //     border-radius: 10px;
        // }
    
        a {
            display:block;
            width: fit-content;
            padding: 10px;
            border-radius: 25px;
    
            .svg-icon {
                stroke: styles.$white;
            }

            &:hover, &:focus {
                background-color: styles.$accent-border;
            }
        }
    }
}

@media screen and (min-width: 680px) {
    .home-flex {
        @include styles.flex-row;
        width: 100%;
        max-width: 700px;
        align-self: center;

        .img-social {
            flex-shrink: 0;
        }

        .home-text {
            margin-top: 30px;
        }
    }
}


