<div class="container">
    <h1>Hello and Welcome!</h1>
    <div class="home-flex">   
        <div class="img-social">
            <img src="/assets/images/red_shirt_old_house_sm.jpg" alt="Picture of Cheyenne" />
            <div class="social-links">
                <a href="{{link.url}}" title="{{link.name}}" target="_blank" *ngFor="let link of socialLinks">
                    <svg class="svg-icon" width="25" height="25">
                        <title>{{link.name}}</title>
                        <use [attr.href]="'/assets/images/symbol-defs.svg#icon-' + link.img"></use>
                    </svg>
                    {{ link.name }}
                </a>
            </div>
        </div>
        <div class="home-text content-callout">
            <p>
                My name is Cheyenne and I am a Front End Web Developer based in Little Rock, Arkansas seeking a full time professional
                role. I am passionate about web accessibility, providing mobile friendly sites, and working with modern technologies.
            </p>
            <p>
                I'm eager to learn new things and grow in my career. Take a look around this website to see more about my past projects
                and experience.
            </p>
        </div>
        
    </div>
</div>
