@use "../shared/recipes.scss";

.home-flex, .img-social {
    @include recipes.flex-column;
    gap: 15px;
}


.img-social {
    align-items: center;

    img {
        width: 100%;
        max-width: 250px;
        border-radius: 10px;
    }

    .social-links {
        font-size: 0;
        @include recipes.flex-row;
        gap: 5px;
        margin-top: -55px;
        background-color: recipes.$project-btn;
        padding: 15px 20px;
        border-radius: 20px;

        // &:after {
        //     content: '';
        //     position: absolute;
        //     background-color: recipes.$lemon;
        //     width: 250px;
        //     padding: 20px;
        //     right: -30px;
        //     top: -7px;
        //     height: 20px;
        //     z-index: -1;
        //     border-radius: 10px;
        // }
    
        a {
            display:block;
            width: fit-content;
            padding: 15px;
            border-radius: 50px;
    
            .svg-icon {
                stroke: recipes.$black;
            }

            &:hover, &:focus {
                background-color: recipes.$project-btn-effect;
            }
        }
    }
}

.home-text {
    p:first-of-type {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 800px) {
    .home-flex {
        @include recipes.flex-row;
        width: 100%;
        max-width: 700px;
        align-self: center;

        .img-social {
            flex-shrink: 0;
        }
    }
}

@media screen and (min-width: 960px) {
    .home-text {
        margin-top: 15px;
    }
}


