
<a tabindex="0" class="img-link" (click)="imgPopup(true)" (keydown.enter)="imgPopup(true)" title="Enlarge Image">
    <img class="img" [src]="'/assets/images/' + src" [alt]="alt">
</a>

<div class="overlay" *ngIf="popup" (click)="imgPopup(false)">
    <button class="img-close" (click)="imgPopup(false)" *ngIf="popup" title="Close">
        <svg class="svg-icon" width="25" height="25">
            <use [attr.href]="'/assets/images/symbol-defs.svg#icon-x-circle'"></use>
        </svg>
    </button>
    <img class="img" [src]="'/assets/images/' + src" [alt]="alt">
    <p class="img-text" *ngIf="alt.length > 0">{{ alt }}</p>
</div>

